/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
}

body{
  width:100%;
  height:100%;
  overflow-x: hidden;
  overflow-y:scroll;
}

.navbar-default{
  background-color: #fff;
  border-color: #e7e7e7;
}

.navbar{
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
  margin-bottom: 0px;
  border:0px;
}

.list-inline{
  margin-left:0;
}


